# dependencies
node_modules/

# build / cache
.next/
dist/
build/
cache/
artifacts/
out/
coverage/
*.log

# env
.env
.env.*
!.env.example

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
.venv/

# Vercel
.vercel
